div.login-container{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-gradient-login{
  background: radial-gradient(rgb(80, 182, 207), rgb(43, 43, 238) );
}

form{
  background-color: aliceblue;
  border-radius: 6px;
  width: 500px;
  padding: 15px;
}
